<%- include ('../partials/header.ejs'); %>

<div class="container newForm">
    <h1 class="formTitle">Edit comment</h1>
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label>Text</label>
            <textarea class="form-control" rows="3" name="comment[text]"><%= comment.text %></textarea>
        </div>
        <div class="form-group">
            <label>Star</label>
            <input type="number" value="<%= comment.star %>" name="comment[star]" class="form-control" min="0" max="5">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include ('../partials/footer.ejs'); %>