<%- include ('../partials/header.ejs'); %>

<% var starAvg = 0; %>
<% if(campground.comments.length) { %>
    <% campground.comments.forEach(function(comment) { %>
    <% starAvg += comment.star; %>
    <% }); %>
    <% starAvg /= campground.comments.length; %>
<% } %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Yelp Camp</h1>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category1</a>
                <a href="#" class="list-group-item">Category2</a>
                <a href="#" class="list-group-item">Category3</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= campground.image %>" class="img-responsive">
                <div class="caption">
                    <h4>
                        <a href="#"><%= campground.name %></a>
                        <span class="pull-right">$<%= campground.price.toFixed(2) %>/night</span>
                    </h4>
                    <p><%= campground.description %></p>
                    <p id="author">submitted by <%= campground.author.username %></p>
                    <p id="starRates">
                        <% for(var i=0; i<Math.floor(starAvg); i++) { %>
                        <span class="glyphicon glyphicon-star" aria-hidden="true" ></span>
                        <% } %>
                        <% for(var i=Math.floor(starAvg); i<5; i++) { %>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <% } %>
                        <span id="starAvg"><%= starAvg %> Stars</span>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit" role="button">Edit</a>
                        <form class="deleteBtn" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right" id="commentBtn">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary" role="button">Leave a comment</a>
                </div>
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <% for(var i=0; i<comment.star; i++) { %>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <% } %>
                            <% for(var i=comment.star; i<5; i++) { %>
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <% } %>
                            <span><%= comment.author.username %></span>
                            <span class="pull-right"><%= comment.created.toDateString() %></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" role="button">Edit</a>
                                <form class = "deleteBtn" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs'); %>